<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.smarthome">

    //these permission fot the Paho Android Service
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Devices.RetrieveListOfDevicesBoundary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:parentActivityName=".Devices.RetrieveSpecificDeviceBoundary" android:name=".Operation.RetrieveListOfOperationBoundary"></activity>
        <activity android:parentActivityName=".Devices.RetrieveListOfDevicesBoundary" android:name=".Devices.RetrieveSpecificDeviceBoundary"></activity>
        <activity android:parentActivityName=".Devices.RetrieveSpecificDeviceBoundary" android:name=".Devices.Add_new_device"></activity>
        <activity android:parentActivityName=".Operation.RetrieveListOfOperationBoundary" android:name=".Operation.Add_new_operation"></activity>
        <activity android:parentActivityName=".Devices.RetrieveListOfDevicesBoundary" android:name=".MicroController.Add_new_microController"></activity>
        <activity android:parentActivityName=".Devices.RetrieveListOfDevicesBoundary" android:name=".MicroController.RetrieveListOfMicroControllerBoundary"></activity>
        <activity android:parentActivityName=".MicroController.RetrieveListOfMicroControllerBoundary" android:name=".MicroController.RetrieveSpecificMicroControllerBoundary"></activity>
        <activity android:parentActivityName=".MicroController.RetrieveSpecificMicroControllerBoundary" android:name=".Shield.RetrieveShieldBoundary"></activity>
        <activity android:parentActivityName=".MicroController.RetrieveSpecificMicroControllerBoundary" android:name=".Shield.Add_new_Shield"></activity>





        <provider
            android:authorities="com.example.android.SmartHome"
            android:name=".DataBase.Smart_Home_Provider"
            android:exported="false"></provider>


    </application>


</manifest>